div{
    font-size: 100px;
    text-align: center;
    background-color: rgb(252, 212, 252);
    width: 1388px;
    border: 1px solid black;
    padding: 50px;
    margin: 15px;
    font-family: sans-serif;
}


